@import '../Global.scss';

.portfolio {
    background-color: $Dark-blue;
    height: auto;
    &-card {
        position: relative;
        width: 100%;
        margin: 0 auto;
        display: block;
        margin-bottom: 30px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        &-info{
            position: absolute;
            top: 0;
            left: 0;
            padding: 1rem;
            width: 100%;
            height: 100%;
            background-color: $Firt-alpha-color;
            color: $White;
            opacity: 0;
            pointer-events: none;
            transition: all .5s ease-in-out;
            border-radius: 10px;
        }
    }
}

.portfolio-card:hover .portfolio-card-info{
    opacity: 1;
    pointer-events: auto;
}

.portfolio-card-info > div {
    padding: 1rem;
    border: thin solid $White;
    width: 100%;
    height: 100%;
}

.section-title {
    @extend %section-title;
}
